body {
  margin: 0;
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.char {
  display: inline-block;
  transition: color ease 200ms;
  border-radius: 5px;
}

.words div {
  display: inline-block;
  margin: 0 2rem 0 0;
  overflow: visible;
}

.words {
  color: #ccc;
  overflow: hidden;
}

div.active-word { 
  color: #fefefe;
}

#github {
  position: absolute;
  bottom:1rem;
  right:1rem;
}

#menu {
  font-size: 1rem;
  display: flex;
  top: 2rem;
  position: absolute;
}

#menu .button {
  text-transform: uppercase;
}

.input {
  display: flex;
  justify-items: center;
}

#word-input {
  font-size: 2rem;
}

.scoreboard {
  list-style: none;
  font-size: 1.5rem;
  max-height: 40vh;
  overflow: auto;
  margin:0;
  padding:0;
}

.scoreboard > div {
  display: flex;
  border-bottom: #6d717a solid 1px;
  align-items: stretch;
}

.scoreboard span {
  display: flex;
  flex:2
}

.scoreboard i {
  display: flex;
  align-content: flex-end;
  flex:1
}
