body {
  margin: 0;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.char {
  display: inline-block;
  transition: color ease 200ms;
  border-radius: 5px;
}

.words div {
  display: inline-block;
  margin: 0 2rem 0 0;
  overflow: visible;
}

.words {
  color: #ccc;
  overflow: hidden;
}

div.active-word { 
  color: #fefefe;
}

#menu {
  font-size: 1rem;
  display: flex;
  margin-bottom: 4rem;
}

#menu .button {
  background-color: #a29bfe;
  cursor: pointer;
  color:#fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  text-transform: uppercase;
}

.input {
  display: flex;
  justify-items: center;
}

input {
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #3c4049;
  border: #6d717a solid 1px;
  outline: none !important;
  font-size: 2rem;
  color: #eee;
}
